*{font-family: 'Poppins', sans-serif;}
.all{
    display: flex;
    height: 800px;
    
}
.left{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    height: 900px;
    
}
.linkBTN{
    font-size: 18px;
    left: 0;
    top: 0;
    width: 214px;
    height: 73px;
    display: flex;
    justify-content: space-between;
    /* padding: 21px 117px 25px 25px; */
    background-color: black;
    color: rgb(113, 113, 113);
    align-self:flex-start;
    align-items: center;
}
.fa-solid, .myAlbum{
    display: flex;
    font-size: 18px;
    height: 18px;
    align-self: center;
    padding: 0px;

}

.linkBar{
    background-color: #222222;
    width: 199px;
    height: 450px;
    top: 0;
    left: 0;
    display: inline-block;
    text-align: left;
    color: #868686;
    padding:0 0 50px 15px;
}

.linkBar :hover{
    background-image: linear-gradient(45deg, #8baaaa 0%, #ae8b9c 100%);
    color: white;
}


.cover{
    width: 194px;
    height: 193px;
    background-image:url(https://images.unsplash.com/photo-1540039155733-5bb30b53aa14?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    text-align:start;
}


.albumName{
    color: #959595;
    width: 172px;
    height: 20px;
    text-align:start;
}

.right{
    position: absolute;
    top: 0;
    left:214px;
    height: 786px;
    width: 987px;
    background-color: #2A2A2A;
}

.banner{
    display: flex;
    flex-direction: column;
    width: 987px;
    height: 336px;
    background-image:url(https://images.unsplash.com/photo-1540039155733-5bb30b53aa14?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(3px);
    color: white;
    text-align: center;
    justify-content: end;
    align-self:flex-start;
}
.add{
    width: 171px;
    height: 30px;
    background-color: rgba(0,0,0,0.60);;
    font-size: 16px;
    border: 1px solid;
    border-radius: 23.5px;
    text-align: center;
    align-self:flex-end;
    justify-content: center;
    padding: 0;
    margin-right: 20px;
    
}
.list{
    position: relative;
    top: 60px;
}


ul{
    list-style-type: none;
    width: fit-content;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40px;
    left: 18px;
}
.list1{
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 10px;
    height: 20px;
    background-color: #222222;
    width: 850px;

}
.list :hover{
    background-image: linear-gradient(45deg, #8baaaa 0%, #ae8b9c 100%);
}


.songName{
    width: 300px;
    display: flex;
    justify-content: center;
}

.playBTN{
    display: flex;
    justify-content: center;
    align-items: center;
}

.playBTN a{
    display: flex;
    align-items: center;
    width: 55px;
    height: 55px;
    color:#474747;
    margin: 0 1em;
    text-decoration: none;
}
.volumeBTN{
    position: absolute;
    right: 200px;
    color:#474747;
}
.ptD{
    transform: translateY(-10px);
}

.coverTop{
    width: 194px;
    height: 193px;
    background-image:url(https://images.unsplash.com/photo-1540039155733-5bb30b53aa14?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80);
    background-repeat: no-repeat;
    background-size: cover;
}

.middle{
    display: flex;
    flex-direction: row;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 200px;
    left: 50px;
    color: white;
}
.intro{
    padding-left: 20px;
    
}
.add{position: relative;
    left: 300px;
    bottom: 120px;
    line-height: 2;}

footer{
    position: relative;
    bottom: -380px;
    display: flex;
    justify-content: center;
}
